{% extends 'layout.html' %}
{% block content %}
        <form action="" method="POST" name="nlp_process">
            {{form.hidden_tag()}}
            <table>
                <tr><td>Sentence: </td><td>{{form.sentence(rows=10, cols=50)}}</td>
                    <td>{% for error in form.errors.sentence %}
                            <span style="color: red;">[{{error}}]</span><br>
                        {% endfor %}
                    </td>
                </tr>
            </table><BR>
        <p><input type="submit" value="Process Sentence"></p>
        </form>
        {% if (d['tagged']|length > 0) %}
            <BR><BR>
            <!-- Sentence: {{ d['sentence'] }}<BR><BR>
            Tokens: {{ d['tokens'] }}<BR><BR>
            Tagged: {{ d['tagged'] }}<BR><BR>

            Types Grouped:<BR><BR>
            {% for type, tokens in d['types'].items() %}
                    {{ type }}:
                    {% for token in tokens %}
                        {{ token }}
                    {% endfor %}<BR>
            {% endfor %}

            Subjects: {{ d['subjects'] }}<BR><BR>
            Verbs: {{ d['verbs'] }}<BR><BR>-->

            Parts:<BR><BR>
            <div class="nlp_text parent">
            {% for metaPart in d['metaParts'] %}
                <div class="nlp_text middle">
                    {% for part in metaPart %}
                        <span class="nlp_text child {{ part[0][1][0] }}">
                        {% for token in part %}
                            {{ token[0] }}
                        {% endfor %}
                        </span>
                    {% endfor %}
                </div>
            {% endfor %}
            </div>

        {% endif %}
{% endblock %}